@import "config";
@import "buttons";
@import "menu";
@import "about";
@import "portfolio";
@import "contact";
@import "forms";

.text-secondary {
  color: $secondary-color;
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    background: rgba(lighten($primary-color, 2), 0.5);
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
}

main {
  flex: 1;
  padding: 4rem;
  overflow: hidden;
  min-height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  h1 {
    @include easeOut;
    margin-top: 5vh;
  }
}

#home {
  h1 {
    margin-top: 20vh;
  }
}

footer {
  display: flex;
  background: darken($primary-color, 10);
  flex-flow: row;
  height: $footer-height;
  justify-content: space-between;
  border-top: 1px solid $secondary-color;

  p {
    padding: 0 1rem;
  }
}

#wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@import "mobile";
